[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "==3.4.3"
azure-keyvault-secrets = "==4.8.0"
azure-identity = "==1.17.1"
pygobject = "==3.46.0"
pygobject-stubs = "==2.10.0"
requests = "==2.31.0"
mypy = "==1.11.0"
types-requests = "==2.32.0.20240712"

[dev-packages]

[requires]
python_version = "3.11"
