.box {
    padding: 10px 0px;
}

.post-container {
    background-color: whitesmoke;
    color: #000000;
    border-radius: 15px;
}

.icon-box {
    padding: 20px;
}

.likes-count {
    font-size: 20px;
    font-weight: 600;
}