.reddit-btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.reddit-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.menu-btn, .menu-btn-logout {
    background-color: #FFFFFF;
    font-size: 13px;
}

.menu-btn:hover {
    background-color: whitesmoke;
}

.menu-btn-logout:hover {
    border: 1px solid red;
    color: red;

}

.user-profile-img {
    min-width: 1px;
}