.box {
    padding: 50px 0px;
}

.post-container {
    background-color: whitesmoke;
    color: #000000;
    border-radius: 15px;
    margin: 0px 500px;
}

.icon-box {
    padding: 20px;
}

.likes-count {
    font-size: 20px;
    font-weight: 600;
}

.post-image-box {
    padding: 20px 0px;
}

.post-image {
    min-width: 500px;
}

.post-metadata-box {
    padding: 20px 0px;
}

.post-title {
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.post-title:active,
.post-action-btn:active {
    color: rgb(0, 123, 255);
}

.post-user,
.post-subreddit {
    color: rgb(0, 123, 255);
}

.post-metadata {
    color: rgb(67, 66, 66);
}