.box {
    padding: 50px 0px;
}

.post-container {
    background-color: whitesmoke;
    color: #000000;
    border-radius: 15px;
    margin: 0px 500px;
}

.icon-box {
    padding: 20px;
}

.likes-count {
    font-size: 20px;
    font-weight: 600;
}

.post-image-box {
    padding: 20px;
}

.post-image {
    min-width: 500px;
}

.post-title {
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    min-width: 550px;
}

.post-user,
.post-subreddit {
    text-decoration: underline;
    color: red;
}

.post-action-btn {
    color: rgb(67, 66, 66);
}