.profile-name {
    font-size: 30px;
    font-weight: bold;
}

.profile-tab {
    background-color: whitesmoke;
    color: #2a2a2a;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-tab.current-tab {
    background-color: #ff4500;  /* Reddit's orangered color */
    color: white;
}

.profile-tab-dark {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-tab-dark.current-tab {
    background-color: #ff4500;
    color: white;
}

.comment-item, .post-item {
    background-color: whitesmoke;
    color: #000000;
    border-radius: 15px;
    padding: 10px;
}

.comment-item:hover, .post-item:hover {
    background-color: #d2d2d2;
}

.comment-item-dark:hover, .post-item-dark:hover {
    background-color: mix(@theme_fg_color, @theme_base_color, 0.95);
}

.comment-item-dark, .post-item-dark {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    border-radius: 15px;
    padding: 10px;
}

.comment-subreddit, .comment-author, .post-subreddit {
    font-weight: bold;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
}

.comment-date, .post-date {
    color: #aaa;
}

.comments-box {
    background-color: mix(@theme_fg_color, @theme_base_color, 0.85);
    padding: 5px;
    border-radius: 10px;
}

.comments-box:hover {
    background-color: mix(@theme_fg_color, @theme_base_color, 0.65);
}